@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

/***************************** 
개인적인 스타일 삭제 style
******************************/
select {
background-image: none;
-webkit-appearance:none;
-moz-appearance: none;
appearance: none;
}

select::-ms-expand {
  display: none;
}


#__BVID__61,
#__BVID__60,
#__BVID__13,
#__BVID__12,
#input-with-list {
    outline: none;
    box-shadow: none;
      background: none;
    padding: 0;
}

.dropdown-toggle::after,
#__BVID__17__BV_toggle_,
.btn:focus, .btn.focus, 
.btn-secondary:focus, .btn-secondary.focus,
.btn-secondary, .btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle,
.btn-secondary:focus, .btn-secondary.focus {
  color: none;
  outline: none;
  background: none;
  border:none;
  box-shadow: none;
}



/***************************** 
공통적인 스타일 삭제 style
******************************/

* {
    outline: 0 !important;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: middle;
    font-weight: 500;
    color: #394148;
    font-size: inherit;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
    font-size: 16px;
  }
  b {
    font-weight: 900;
  }
  a {
    text-decoration: none;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  button {
    border: 0;
    outline: 0;
    vertical-align: middle;
  }
  img,
  input {
    vertical-align: middle;
  }
  input[readonly] {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
  }
  small {
    font-size: smaller;
  }
  